body {
    background-color: lightblue;

    height: 100%;

}

h1, h2 {
    text-transform: capitalize;
}

#navbar-menu {
    float: right;
    text-align: right;
    z-index: 1;

}

#top-bg-image-wrapper {
    height: 1000px;
    width: 100%;

}

#top-bg-image {
    height: 600px;
    width: 100%;
    background: url("../images/img-ragnar.jpg") no-repeat center center;
    background-color: lightcoral;
    background-size: cover;
    position: relative;

}

#top-bg-image-wrapper h1 {
    font-size: 80px;
    padding: 0px 10px;
    position: absolute;

}

/* Photo wall */
#photo-wall-wrapper {
    width: 100%;
    height: 800px;
    background-color: lightgrey;
    position: relative;

}

#photo-wall-wrapper img {
    position: absolute;
    border: 9px solid white;
    background-color: white; /*For fixing the space between border and img*/

}
#photo-wall-wrapper {
    padding: 15px;
}
#pic-one {
    width: 400px;
    height: 600px;
    top: -30%;
    left: 20%;
    
}

#pic-two {
    width: 400px;
    height: 600px;
    bottom: 3%;
    right: 5%;
   
}

#pic-three {
    width: auto;
    height: 400px;
    bottom: 25%;
    right: 35%;

}

#pic-four {
    width: 400px;
    height: auto;
    top: -10%; 
    right: 20%;
   
}

#pic-five {
    width: 400px;
    height: auto;
    bottom: -18%;
    left: 41%;
    
}

/* Timeline styling */
#timeline {
    background-color: white;
    height: 1000px;
    width: auto;

}
#timeline h2 {
    padding-bottom: 120px;
}

.timeline-buttons {
    padding: 20px;
}

/* Not checked radio button should show no text */
/* Sibling selector used to only target desired content */
/* Inspiration from https://dev.to/devhammed/awesome-checkbox-and-radio-button-css-hacks-1b75*/
.timeline-radio-button ~ .timeline-text-wrapper {
    display: none;
}

/* When button is checked the text will be visible*/
.timeline-radio-button:checked ~ .timeline-text-wrapper {
    display: block;
}

/* I use this poistion to hide the radio button and instead only use the label as button */
.timeline-radio-button {
    position: fixed; 

}

.timeline-text {
    text-align: justify;

}
.timeline-text-wrapper {
    margin-left: 20%;
    margin-right: 20%;
}

.timeline-radio-button:checked ~ label {
    border-bottom: 3px solid black;
    padding-right: 5px;
      
}
/* To show the user that you can click on the radio btn label 
 https://www.w3schools.com/cssref/pr_class_cursor.asp */
.timeline-radio-button ~ label {
   cursor: pointer;

}


