@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@300&display=swap');


body {
font-family: "Josefin Sans", sans-serif;
font-weight: 300;
height: 100%;
color: #2F2D32;

}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-weight: 400;
}

/* Changes to Bootstrap navbar */
#navbar-menu {
    float: right;
    text-align: right;
    z-index: 1;
    font-size: 30px;
   
}
#navbar-menu li a {
    color: white;
    padding: 5px 10px;
    
}

#navbar-menu li a:hover {
    border-bottom: 1px solid white; 
   /*TODO: Delete when small screen  */

}

.navbar-toggler {
    background-color: white;
}

/* Main picture */
#top-bg-image-wrapper {
    /* height: 1000px; */
    height: auto;
    width: 100%;
    background-color: white;
    position: relative;

}

#top-bg-image {
    height: 600px;
    width: 100%;
    background: url("../images/img-ragnar.jpg") no-repeat center center;
    background-color: #F5C8B3;
    background-size: cover;
    position: relative;

}

#top-bg-image-wrapper h1 {
    font-size: 80px;
    padding: 0px 20px;

}

#top-bg-text {
    text-align: center;
    margin: 4% 20% 4% 20%;

}



/* Photo wall */

#photo-wall {
    height: 100%;
    background-color: #F5C8B3;
    padding-bottom: 5%;
}
#photo-wall-wrapper {
    clear: both;
    column-count: 3;
    column-gap: 2%;
    padding-left: 2%;
    padding-right: 2%;

}

#photo-wall h2 {
   border-bottom: 4px solid white;
   padding: 2%;
   margin-bottom: 2%;
}

#photo-wall-wrapper img {
    width: 100%;
    border: 9px solid white;
    background-color: white; /*For fixing the space between border and img*/
    margin-bottom: 6%;


}

/* Timeline styling */
#timeline {
    background-color: white;
    height: auto;
    width: 100%;
    padding: 0 10%;

}

#timeline h2 {
    padding-bottom: 120px;
    padding-top: 2%;
    margin-left: -10%; 
    /* I do like this because i want my vertical line to go over the whole timeline section while keeping the h2 as same indentation as other h2 */
   

}

.timeline-buttons {
    padding: 20px;

}

/* Not checked radio button should show no text */
/* Sibling selector used to only target desired content */
/* Inspiration from https://dev.to/devhammed/awesome-checkbox-and-radio-button-css-hacks-1b75*/
.timeline-radio-button ~ .timeline-text-wrapper {
    display: none;
}

/* When button is checked the text will be visible*/
.timeline-radio-button:checked ~ .timeline-text-wrapper {
    display: block;
}

/* I use this position to hide the radio button and instead only use the label as button */
.timeline-radio-button {
    position: fixed;

}

.timeline-text {
    text-align: justify;
    display: inline;

}

.timeline-text-wrapper {
    margin-left: 20%;
    margin-right: 20%;
    
}

.timeline-text-wrapper i {
    font-size: 130%;

}

.timeline-radio-button:checked ~ label {
    border-bottom: 3px solid black;
    padding-right: 5px;

}
/* To show the user that you can click on the radio btn label
 https://www.w3schools.com/cssref/pr_class_cursor.asp */
.timeline-radio-button ~ label {
   cursor: pointer;

}
.vertical-line {
    border-right: 8px solid #F5C8B3 ;
}


/* Footer */
footer {
    height: 150px;
    background-color: #E9F1E3;
    clear: both;

}
footer h6 {
    text-align: center;
    padding-top: 20px;
}
.social-networks {
    text-align: center;
    padding: 2%;

}

.social-networks li {
    display: inline;
    margin: 2%;

}

.social-networks i {
    border: 1px solid grey;
    border-radius: 5px;
    color: #2F2D32;
    font-size: 150%;
    padding: 8px;
}

/* Our Pelargoniums */

.pelargonium-card {
    height: 500px;
    width: 50%;
    padding-top: 50px;

}
.card-right {
    float: right;
}

.card-left {
    float: left;
}

.content-card-left {
    float: right;
}

.content-card-left {
    width: 40%;
    padding-right: 3%;
}

.table-content-card {
    margin-bottom: 20px;
}

.table-content-card th {
    padding-right: 10px

}

.pic-right img {
    height: 400px;
    width: auto;
    border: 9px solid white;
    background-color: white; 
    margin-left: 4%;

}

.pic-left img {
    height: 400px;
    width: auto;
    border: 9px solid white;
    background-color: white;
    margin-left: 4%;

}

.text-left {
    text-align: left;
    padding: 2%;

}

#barbapapa {
    background-color: #F5C8B3;
    /* border-bottom: 4px solid #F5C8B3; */

}
#rosa-himmel {
    border-top: 5px solid #F5C8B3;
}
/* #fageln-phoenix {
    border-top: 4px solid #E9F1E3;
} */
#flamingo {
    background-color: #F5C8B3; 

}

.bg-color-sort {
    background-color: #F5C8B3;
}